@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: rgb(255, 255, 255);
	--textColor: rgb(0, 0, 0);
	--softBg: rgb(241, 241, 241);
	--softTextColor: rgb(98, 98, 98);
}

.dark {
	--bg: rgb(15, 23, 42);
	--textColor: rgb(221, 221, 221);
	--softBg: rgb(31, 39, 58);
	--softTextColor: rgb(166, 166, 170);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg: 15, 23, 42;
		--textColor: 221, 221, 221;
		--softBg: 31, 39, 58;
		--softTextColor: 166, 166, 170;
	}
} */

/* [data-theme='dark'] {
  --bg: 15, 23, 42;
	--textColor: 221, 221, 221;
	--softBg: 31, 39, 58;
	--softTextColor: 166, 166, 170;
} */

body {
	color: var(--textColor);
	background: var(--bg);
	width: 100vw;
	overflow-x: hidden;
	/* color: #0f172a;
	color: #dddddd;
	color: #1f273a;
	color: #a6a6aa; */
}

a {
	color: inherit;
	text-decoration: none;
}
